@font-face {
    font-family: '';
    src: url('569d2bf41dedfd22eae099390a11c88c.eot');
    src: url('569d2bf41dedfd22eae099390a11c88c.eot?#iefix') format('embedded-opentype'),
        url('569d2bf41dedfd22eae099390a11c88c.woff2') format('woff2'),
        url('569d2bf41dedfd22eae099390a11c88c.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

